---
layout: page
title: "Categories"
header-img: "../img/about-bg.jpg"
permalink: /categories/
catalog: true
---


<div class="post-container">
    <ul>
        {% for category in site.categories %}
        <h1>{{category | first}}</h1>
            {% for posts in category  %}
                {% for post in posts %}
                    {% if post.url %}
                    <li>
                        <time>
                        {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}.
                        </time>
                        <a class="title" href="{{ post.url | prepend: site.baseurl }}" style="margin-right: 5px">{{ post.title }}</a>

                        {% include tag.html %}
                    </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </ul>
</div>