
/* @font-face {
  font-family: "HelvetiaMedium";
  src: url(../fonts/helveticaneue-medium.ttf);
  font-weight: medium;
} */

html, body {
  height: 100%;
  max-width: 100%
}
html{
	font-size: 90%;
}
body{
  background: #fafafa;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

section {
  overflow-x: hidden;
}


/*----------------------------------------------------------------------------------*/
/*  Main Component
/*-----------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", Arial, serif;
  /* font-family: 'Comfortaa', cursive; */
}

ul {
  list-style: none;
}

.list-social{
  padding-left: 0;
  margin-top: 15px;
}

.list-social li {
  margin: 10px;
  display: inline;
}

.list-social li ion-icon {
  color: #252728;
  font-size: 30px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding:0;
  width:100%;
}

.m-auto {
  margin: auto !important
}

.text-center {
  text-align: center !important
}

/* Animated  */
.has-animation {
  opacity: 0
}

.animated {
  opacity: 1 !important;
  visibility: visible !important
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header{
	text-align: center;
  width: 100%;
  height: 100vh;
	position: relative;
  /* border-bottom: 1px solid #edeeee; */
  /* background: #3f4041; */
  background: #202020;
  z-index: 1;
  /* background: url("img/home-bg.jpg") repeat scroll center center / cover; */
  color: #ffffff;
}

#header .header-content{
  /* make it middle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* #header .header-content h1 {
  font-size: 70px;
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 10px;
  line-height: 1;
} */

#header .header-content p{
  text-align: center;
	/* color: #252728; */
	line-height: 1.6em;
	letter-spacing: 1px;
	font-weight: 300;
	margin: 1.7em;
}
#header .header-content img{
	width: 175px;
}

#header .list-social li ion-icon{
  color: #ffffff;
}

/*----------------------------------------------------------------------------------*/
/*  About
/*-----------------------------------------------------------------------------------*/

#about{
	text-align: left;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  position: relative;
  z-index: 1;
  padding: 7em 0;
  clear: both;
  font-size: 2.5vh;
}

#about span{
  font-family: "Space Mono";
  font-weight: 400;
}

#about p, #about h1, #about h2, #about h3, #about h4, #about h5, #about h6, #about figure {
  font-family: "Space Mono", Arial, serif;
  font-weight: 400;
  color: #000;
  margin: 0 0 20px 0;
}

#about p {
  margin-bottom: 30px;
}

#about .header{
  margin-bottom: 20px;
}

#about .header h2{
	font-size: 40px;
	font-family: "Space Mono", "Arial", sans-serif;
  /* font-family: "Helvetica Neue", "Arial", sans-serif;
	font-size: 22px; */
	font-weight: medium;
	text-align: center;
	margin-bottom: 30px;
}

#about .info {
  margin-top: 10px;
  padding: 0;
  width: 90%;
  float: left;
}
@media screen and (max-width: 768px) {
  #about {
    padding: 3em 0;
  }
  #about .info {
    margin-bottom: 3em;
  }
}
#about .info li {
  width: 100%;
  float: left;
  list-style: none;
  padding: 10px 0;
}
#about .info li:first-child {
  padding-top: 0;
}
#about .info li .first-block {
  width: 40%;
  display: inline-block;
  float: left;
  color: #000;
  font-weight: bold;
}
#about .info li .second-block {
  width: 60%;
  display: inline-block;
  color: rgba(0, 0, 0, 0.7);
}

/*----------------------------------------------------------------------------------*/
/*  Experience
/*-----------------------------------------------------------------------------------*/

#experience {
  /* text-align: center; */
  width: 100%;
  /* min-height: 100vh; */
  background: #202020;
  color: #ffffff;
  position: relative;
  z-index: 1;
  display:table;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10vh 15px 10vh 20px;
}

#experience .experience-title {

}

#experience .experience-content-row {
  padding-top: 3vh;
  padding-bottom: 5vh;
  text-align: left;
}

/*----------------------------------------------------------------------------------*/
/*  Skills
/*-----------------------------------------------------------------------------------*/

#skills {
  /* text-align: center; */
  width: 100%;
  /* min-height: 100vh; */
  background: #202020;
  color: #ffffff;
  position: relative;
  z-index: 1;
  display:table;
  margin-top: 0;
  padding-bottom: 120px;
}

#skills .title h1 {
  font-size: 35px;
  font-weight: 300
}

#skills .title hr {
  width: 100px;
  border-top: 5px solid rgb(250, 250, 250);
  margin-bottom: 50px;
}

#skills .skills-list {
  /* border-bottom: dotted 6px #ffffff; */
}

#skills .skills-list li {
  max-width: 90vw;
}

#skills .skills-list .content {
  background: rgb(255, 255, 255);
  margin-left: 1vh;
  margin-right: 1vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border-radius: 15px;
  color: rgb(2, 0, 0);
  text-align: center;
  height: 15vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

/*----------------------------------------------------------------------------------*/
/*  Project
/*-----------------------------------------------------------------------------------*/

#project {
	text-align: center;
  width: 100%;
  /* min-height: 1200px; */
  background: #ffffff;
  position: relative;
  z-index: 1;
  display:table;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px;
}

#project h2.secondtitle{
	margin-top: 100px;
	margin-bottom: 100px;
	font-size: 40px;
	font-family: "Helvetica Neue", "Arial", sans-serif;
	line-height: 1;
	letter-spacing: -0.4px;
}

#project h2.secondtitle span{
	color: #CBCFD3;
}

/* project-post */

#project  .project-post h2{
	font-family: "Helvetica Neue", "Arial", sans-serif;
	
	font-size: 22px;
	font-weight: medium;
	text-align: center;
	margin-bottom: 10px;
}

#project  .project-post p.description{
	font-size: 18px;
	width: 80%;
	margin: auto;
	line-height: 1.6;
	font-weight: medium;
	color: #505050;
	text-align: center;
}

#project  .project-post .post-image{
  background-position: center;
  background-repeat: no-repeat;
	background-color: #292a2c;
	background-size: 100%;
}

/* #project  .project-post .taskhuntersapp{
	background: url("../images/taskhuntersapp_cover_home.png") center center no-repeat;
	background-color: #20C6B7;
	background-size: 100%;
}

#project  .project-post .spedity{
	background: url("../images/spedity_cover_home.png") center center no-repeat;
	background-color: #19A4FD;
	background-size: 100%;
} */

#project  .project-post .work{
  height: 460px;
  /* height: 640px; */
	margin-bottom: 30px;
}

#project  .project-post{
	margin-bottom: 80px;
}

#project  .project-post a .work,
#project  .project-post a h2,
#project  .project-post a p.description{
	transition: all 0.3s;
}

#project  .project-post a:hover .work{
	transform: scale(0.98);
	background-size: 104%;
}

#project  .project-post a:hover h2,
#project  .project-post a:hover p.description{
	transform: translateY(-10px);
}
