/******* Hux Branch *****/

/* navbar - dark mode */
/* .navbar-custom .nav li a,
.navbar-custom .nav li a:hover,
.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover {color:#777;}
.navbar-default .navbar-toggle .icon-bar {background-color:#777;} */

html, body {
  height: 100%;
}
html{
	font-size: 90%;
}
body{
  background: #fafafa;background: #fafafa;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  color: #B9CFD0;
  text-decoration: none;
  border-bottom: 1px solid #B9CFD0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Comfortaa', cursive;
}

ul {
  list-style: none;
}

/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

.header{
	text-align: center;
  min-width: 100%;
  height: 100vh;
	position: relative;
  /* border-bottom: 1px solid #edeeee; */
  background: #fafafa;
  z-index: 1;
  /* background: url("img/home-bg.jpg") repeat scroll center center / cover; */
}

.header .header-content{
  /* make it middle */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .header-content h1 {
  font-size: 70px;
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 10px;
  line-height: 1;
}
.header .header-content p{
  text-align: center;
	color: #252728;
	font-size: 16px;
	line-height: 1.6em;
	letter-spacing: 1px;
	font-weight: 300;
	margin: 1.7em;
}
.header .header-content img{
	width: 175px;
}

.header .header-content .list-social{
  padding-left: 0;
}

.header .header-content .list-social li {
  margin: 10px;
  display: inline;
}

/* .header .header-content .list-social li i {
  color: #252728;
  font-size: 30px;
} */

.header .header-content .list-social li ion-icon {
  color: #252728; /* color: #fff; */
  font-size: 30px;
}
